[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

#user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
port={{ mysql_port }}

#[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
innodb_buffer_pool_size = 25000M
max_connections=1000

